.Slider-ButtonContainer {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	height: 100%;
	width: 100%;
}
.Slider-Button {
	width: 45px;
	height: 45px;
	background-color: white;
	margin: 10px;
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 22.5px;
	align-items: center;
	justify-content: center;
}
.Slider-Button:focus {
	outline: 0px;
}
.Slider-Button:active {
	background-color: #f4f4f4;
}
.Slider-Button-Icon {
	margin: auto;
	display: block;
	width: 13px;
}
