.App {
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 150px;
	color: white;
	width: 100%;
	display: table;
}

.App-title {
	font-size: 1.5em;
	display: table-cell;
	vertical-align: middle;
}
